astroid==2.3.1
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
Django==2.2.6
django-bootstrap4==1.0.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
lxml==4.4.1
mccabe==0.6.1
numpy==1.17.2
pandas==0.25.1
pandas-datareader==0.8.1
pylint==2.4.2
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.2
Quandl==3.5.0