astroid==2.3.1
beautifulsoup4==4.8.2
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
Django==2.2.13
django-bootstrap4==1.0.1
idna==2.8
inflection==0.4.0
isort==4.3.21
lazy-object-proxy==1.4.2
line-profiler==2.1.1
lxml==4.6.2
mccabe==0.6.1
more-itertools==8.2.0
numpy==1.17.2
pandas==0.25.1
pandas-datareader==0.8.1
pylint==2.4.2
python-dateutil==2.8.0
pytz==2019.3
Quandl==3.5.0
requests==2.22.0
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.6
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
