{% extends 'UserInterface/base.htm' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Prior Quarter</h5>
                            <div class="card-text">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Quad</th>
                                            <th data-toggle="tooltip" data-placement="top" title="Cumulative since quarter start">Return</th>
                                            <th data-toggle="tooltip" data-placement="top" title="Since quarter start">σ</th>
                                            <th data-toggle="tooltip" data-placement="top" title="return / standard deviation">Ratio</th>
                                        </tr>
                                    </thead>
                                    {% for quad, value in prior_quad_return.items %}
                                    <tr>
                                    <td>{{quad}}</td>
                                    {% for percent in value %}
                                        {% if forloop.first or forloop.last %}
                                            {% if percent < 0 %}                                        
                                        <td class="text-danger">
                                            {% elif percent > 0 %}
                                        <td class="text-success">
                                            {% else %}
                                        <td>
                                            {% endif %}
                                            {% else %}
                                        <td>
                                        {% endif %}
                                            {{percent}}
                                            {% if not forloop.last %}
                                            %
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                                <ul>
                                    <li>{{prior_quad_start}} - {{prior_quad_end}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Current Quarter</h5>
                            <div class="card-text">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Quad</th>
                                            <th data-toggle="tooltip" data-placement="top" title="Cumulative since quarter start">Return</th>
                                            <th data-toggle="tooltip" data-placement="top" title="Since quarter start">σ</th>
                                            <th data-toggle="tooltip" data-placement="top" title="return / standard deviation">Ratio</th>
                                        </tr>
                                    </thead>
                                    {% for quad, value in current_quad_return.items %}
                                    <tr>
                                        <td>{{quad}}</td>
                                        {% for percent in value %}
                                        {% if forloop.first or forloop.last %}
                                            {% if percent < 0 %}
                                        <td class="text-danger">
                                            {% elif percent > 0 %}
                                        <td class="text-success">
                                            {% else %}
                                        <td>
                                            {% endif %}
                                            {% else %}
                                        <td>
                                        {% endif %}
                                            {{percent}}
                                            {% if not forloop.last %}
                                            %
                                            {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                                <ul>
                                    <li>{{current_quad_start}} - present</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Today</h5>
                            <div class="card-text">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Quad</th>
                                            <th>Return</th>
                                            <th>Ratio Change</th>
                                        </tr>
                                    </thead>
                                    {% for quad, value in daily_return.items %}
                                    <tr>
                                        <td>{{quad}}</td>
                                        {% if value < 0 %}
                                        <td class="text-danger">
                                        {% else %}
                                        <td class="text-success">
                                        {% endif %}
                                            {{value|floatformat:1}}%
                                        </td>
                                        {% if quad == 1 %}
                                        {% if performance_change.1 < 0 %}
                                        <td class="text-danger">
                                        {% else %}
                                        <td class="text-success">
                                        {% endif %}
                                        {{performance_change.1}}
                                        {% elif quad == 2 %}
                                        {% if performance_change.2 < 0 %}
                                        <td class="text-danger">
                                        {% else %}
                                        <td class="text-success">
                                        {% endif %}
                                        {{performance_change.2}}
                                        {% elif quad == 3 %}
                                        {% if performance_change.3 < 0 %}
                                        <td class="text-danger">
                                        {% else %}
                                        <td class="text-success">
                                        {% endif %}
                                        {{performance_change.3}}
                                        {% elif quad == 4 %}
                                        {% if performance_change.4 < 0 %}
                                        <td class="text-danger">
                                        {% else %}
                                        <td class="text-success">
                                        {% endif %}
                                        {{performance_change.4}}
                                        {% elif quad == 'Market' %}
                                        {% if performance_change.Market < 0 %}
                                        <td class="text-danger">
                                        {% else %}
                                        <td class="text-success">
                                        {% endif %}
                                        {{performance_change.Market}}
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <ul>
                                    <li>{{latest_date}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quad Outlook</h5>
                            <div class="card-text">
                                <canvas id="quad_updates"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quad 1 Allocation Performance This Quarter</h5>
                            <div class="card-text">
                                <canvas id="quad_performance_1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quad 2 Allocation Performance This Quarter</h5>
                            <div class="card-text">
                                <canvas id="quad_performance_2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quad 3 Allocation Performance This Quarter</h5>
                            <div class="card-text">
                                <canvas id="quad_performance_3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quad 4 Allocation Performance This Quarter</h5>
                            <div class="card-text">
                                <canvas id="quad_performance_4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Commitment of Traders - Non-commercial Net Long Positioning - {{latest_cot_date}}</h5>
                        <div class="card-text">
                            <table class="table table-striped table-bordered" id="cftc-cot">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Security</th>
                                        <th>Net Long</th>
                                        <th>1-Year Ratio Δ Z-Score</th>
                                        <th>3-Year Ratio Δ Z-Score</th>
                                        <th>1-Year Abs. Z-Score</th>
                                        <th>3-Year Abs. Z-Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cot_value in cot_data %}
                                    <tr>
                                        <td>{{cot_value.symbol}}</td>
                                        {% if cot_value.net_long >= 0 %}
                                        <td class="text-success">
                                        {% else %}
                                        <td class="text-danger">
                                        {% endif %}
                                        {{cot_value.net_long|floatformat}}</td>
                                        {% if cot_value.one_year_z >= 2.0 or cot_value.one_year_z <= -2.0 %}
                                        <td class="alert-danger">
                                        {% else %}
                                        <td>
                                        {% endif %}
                                        {{cot_value.one_year_z|floatformat:2}}</td>
                                        {% if cot_value.three_year_z >= 2.0 or cot_value.three_year_z <= -2.0 %}
                                        <td class="alert-danger">
                                        {% else %}
                                        <td>
                                        {% endif %}
                                        {{cot_value.three_year_z|floatformat:2}}</td>
                                        {% if cot_value.one_year_abs_z >= 2.0 or cot_value.one_year_abs_z <= -2.0 %}
                                        <td class="alert-danger">
                                        {% else %}
                                        <td>
                                        {% endif %}
                                        {{cot_value.one_year_abs_z|floatformat:2}}</td>
                                        {% if cot_value.three_year_abs_z >= 2.0 or cot_value.three_year_abs_z <= -2.0 %}
                                        <td class="alert-danger">
                                        {% else %}
                                        <td>
                                        {% endif %}
                                        {{cot_value.three_year_abs_z|floatformat:2}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{data_updated}} EST</h5>
                        <div class="card-text">
                            <table class="table table-striped table-bordered" id="symbol-list">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Symbol</th>
                                        <th>Ratio</th>
                                        <th data-toggle="tooltip" data-placement="top" title="0 = at buy level, 100 = at sell level, 50 = price unchanged from last week">Heat %</th>
                                        <th>1-σ Week Buy</th>
                                        <th>Price</th>
                                        <th>1-σ Week Sell</th>
                                        <th data-toggle="tooltip" data-placement="top" title="(over {{lookback}} trading weeks)">Realized 1-Week Volatility</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for symbol, value in symbol_values.items %}
                                    <tr>
                                        <td><a href="/performance/{{value.6}}">{{symbol}}</a></td>
                                        <td>{{value.5}}</td>
                                        <td>{{value.4}}</td>
                                        <td>${{value.2}}</td>
                                        <td class="alert-primary">${{value.0}}</td>
                                        <td>${{value.3}}</td>
                                        {% if value.1 < 2.9 %}
                                        <td class="alert-success">{{value.1}}%</td>
                                        {% elif value.1 <= 4.0 %}
                                        <td class="alert-warning">{{value.1}}%</td>
                                        {% elif value.1 > 4.0 %}
                                        <td class="alert-danger">{{value.1}}%</td>
                                        {% else %}
                                        <td>{{value.1}}%</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="/" method="POST" style="margin-top:2em;">
        <p class="lead">
            Current Equal-Volatility Allocations for $<input type="number" name="value" value="{{target_value}}"/> 
            <select name="currency">
                <option value="USD">USD</option>
                <option value="CAD">CAD</option>
            </select>
            <input type="submit" value=">" />
            {% csrf_token %}
        </p>
        </form> 
        <div class="row">
            {% for quad, value in quad_allocations.items %}
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quad {{quad}}</h5>
                        <table class="table card-text">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Security</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            {% for security, value in value.items %}
                            <tr>
                                <td>{{security}}</td><td>{{value}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div> 
            {% endfor %}
        </div>

        <!--JavaScript at end of body for optimized loading-->
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0/dist/Chart.min.js"></script>
        <script>
            var ctx_quad = document.getElementById('quad_updates').getContext('2d');
            var scatterChart = new Chart(ctx_quad, {
                type: 'scatter',
                data: {
                    datasets: [
                    {% for date, gdp_roc, cpi_roc in roc_data %}
                        {
                            label: "{{date}}",
                            
                            data: [
                                {
                                    x: {{cpi_roc|floatformat}},
                                    y: {{gdp_roc|floatformat}}
                                },
                            ],
                            {% if forloop.first %}
                            pointBackgroundColor: ['#00ff00'],
                            {% elif forloop.last %}
                            pointBackgroundColor: ['#0000ff'],
                            {% else %}
                            pointBackgroundColor: ['#00cbff'],
                            {% endif %}
                            {% if forloop.first %}
                            backgroundColor: '#00ff00'
                            {% elif forloop.last %}
                            backgroundColor: '#0000ff'
                            {% else %}
                            backgroundColor: '#00cbff'
                            {% endif %}
                        },
                    {% endfor %}
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom',
                            scaleLabel: {
                                labelString: "Inflation Velocity (bps)",
                                display: true
                            },
                            ticks: {
                                suggestedMax: 50.0,
                                suggestedMin: -50.0,
                                stepSize: 20.0,
                            }
                        }],
                        yAxes: [{
                            type: 'linear',
                            scaleLabel: {
                                labelString: "Growth Velocity (bps)",
                                display: true
                            },
                            ticks: {
                                suggestedMax: 50.0,
                                suggestedMin: -50.0,
                                stepSize: 20.0,
                            }
                        }]
                    },
                    legend: {
                        display: true,
                        position: 'right'
                    }
                }
            });
        </script>
        <script>
            {% for quad in quad_performance %}
            var ctx_score = document.getElementById('quad_performance_{{quad}}').getContext('2d');
            var scatterChart = new Chart(ctx_score, {
                type: 'scatter',
                data: {
                    datasets: [
                        {
                            label: "Current",
                            data: [
                                {% if quad == 1 %}
                                {% for datum in quad_performance.1 %}
                                {
                                    x: {{datum.0}},
                                    y: {{datum.1}}
                                },
                                {% endfor %}
                                {% endif %}
                                {% if quad == 2 %}
                                {% for datum in quad_performance.2 %}
                                {
                                    x: {{datum.0}},
                                    y: {{datum.1}}
                                },
                                {% endfor %}
                                {% endif %}
                                {% if quad == 3 %}
                                {% for datum in quad_performance.3 %}
                                {
                                    x: {{datum.0}},
                                    y: {{datum.1}}
                                },
                                {% endfor %}
                                {% endif %}
                                {% if quad == 4 %}
                                {% for datum in quad_performance.4 %}
                                {
                                    x: {{datum.0}},
                                    y: {{datum.1}}
                                },
                                {% endfor %}
                                {% endif %}
                            ],
                            pointBackgroundColor: ['#00ff00'],
                            backgroundColor: '#00ff00'
                        },
                        {
                            label: "Prior Quarter",
                            data: [
                                {% if quad == 1 %}
                                {% for datum in prior_quad_performance.1 %}
                                {
                                    x: {{datum.0}},
                                    y: {{datum.1}}
                                },
                                {% endfor %}
                                {% endif %}
                                {% if quad == 2 %}
                                {% for datum in prior_quad_performance.2 %}
                                {
                                    x: {{datum.0}},
                                    y: {{datum.1}}
                                },
                                {% endfor %}
                                {% endif %}
                                {% if quad == 3 %}
                                {% for datum in prior_quad_performance.3 %}
                                {
                                    x: {{datum.0}},
                                    y: {{datum.1}}
                                },
                                {% endfor %}
                                {% endif %}
                                {% if quad == 4 %}
                                {% for datum in prior_quad_performance.4 %}
                                {
                                    x: {{datum.0}},
                                    y: {{datum.1}}
                                },
                                {% endfor %}
                                {% endif %}
                            ],
                            pointBackgroundColor: ['#0000ff'],
                            backgroundColor: '#0000ff'
                        }                        
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom',
                            scaleLabel: {
                                labelString: "Quarter Depth",
                                display: true
                            },
                            ticks: {
                                suggestedMax: 90.0,
                                suggestedMin: 0.0,
                                stepSize: 5.0,
                            }
                        }],
                        yAxes: [{
                            type: 'linear',
                            scaleLabel: {
                                labelString: "Ratio",
                                display: true
                            },
                            ticks: {
                                suggestedMax: 25.0,
                                suggestedMin: -25.0,
                                stepSize: 5.0,
                            }
                        }]
                    },
                    legend: {
                        display: true,
                    }
                }
            });
            {% endfor %}
        </script>
        <script>
            $(document).ready(function() {
                $('#symbol-list').DataTable({
                    paging: false,
                    searching: false,
                    columnDefs: [
                        { type: 'formatted-num', targets: 1},
                    ]
                });
                $('#cftc-cot').DataTable({
                    paging: false,
                    searching: false,
                    columnDefs: [
                        { type: 'formatted-num', targets: "_all"},
                    ]
                });
            });
        </script>
{% endblock %}