{% load bootstrap4 %}

<!DOCTYPE html>
<html>
  <head>
    {% bootstrap_css %}
    <style type="text/css">
        body {
            padding: 10px;
            margin: 10px;
        }
    </style>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">VEGI Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">Home</li>
            </ul>
        </div>
    </nav>

    {% bootstrap_messages %}

    <h1 class="display-3">{{latest_date}}</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prior Quarter</h5>
                        <p class="card-text">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Quad</th>
                                        <th>Return</th>
                                    </tr>
                                </thead>
                                {% for quad, value in prior_quarter_return.items %}
                                {% if value <= 0 %}
                                <tr class="text-danger">
                                {% else %}
                                <tr class="text-success">
                                {% endif %}
                                    <td>{{quad}}</td><td>{{value}}%</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Quarter</h5>
                        <p class="card-text">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Quad</th>
                                        <th>Return</th>
                                    </tr>
                                </thead>
                                {% for quad, value in current_quarter_return.items %}
                                {% if value <= 0 %}
                                <tr class="text-danger">
                                {% else %}
                                <tr class="text-success">
                                {% endif %}
                                    <td>{{quad}}</td><td>{{value}}%</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{data_updated}} EST</h5>
                        <p class="card-text">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Symbol</th>
                                        <th>Price</th>
                                        <th data-toggle="tooltip" data-placement="top" title="(over {{lookback}} trading days)">Realized Daily Volatility</th>
                                        <th>1-STDEV Move</th>
                                    </tr>
                                </thead>
                                {% for symbol, value in symbol_values.items %}
                                <tr>                                
                                    <td>{{symbol}}</td><td>${{value.0}}</td><td>{{value.1}}%</td><td>${{value.2}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="lead">Current Equal-Volatility Allocations for $<a href="/{{target_value}}">{{target_value}}</a></p>
    <div class="row">
        {% for quad, value in quad_allocations.items %}
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quad {{quad}}</h5>
                    <table class="table card-text">
                        <thead class="thead-dark">
                            <tr>
                                <th>Security</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        {% for security, value in value.items %}
                        <tr>
                            <td>{{security}}</td><td>{{value}}</td>
                        </tr>
                        {% endfor %}
                    </table>    
                </div>
            </div>
        </div> 
        {% endfor %}
    </div>

    <!--JavaScript at end of body for optimized loading-->
    {% bootstrap_javascript jquery='full' %}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
  </body>
</html>
      