{% extends 'UserInterface/base.htm' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{label}}'s Performance</h5>
                    <p class="card-text">
                        Score change today: {{ performance_change }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quarter Performance</h5>
                    <p class="card-text">
                        <canvas id="quad_performance"></canvas>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.0.2/dist/chartjs-plugin-annotation.min.js"></script>
<script>
    var ctx_score = document.getElementById('quad_performance').getContext('2d');
    var scatterChart = new Chart(ctx_score, {
        type: 'line',
        data: {
            datasets: [
                {
                    label: "Current",
                    fill: false,
                    data: [
                        {% for datum in quad_performance %}
                        {
                            x: {{datum.0}},
                            y: {{datum.1}}
                        },
                        {% endfor %}
                    ],
                    borderColor: ['#00ff00'],
                },
                {
                    label: "Prior Quarter",
                    fill: false,
                    data: [
                        {% for datum in prior_quad_performance %}
                        {
                            x: {{datum.0}},
                            y: {{datum.1}}
                        },
                        {% endfor %}
                    ],
                    borderColor: ['#0000ff'],
                },
                {
                    label: "Regression (this quarter)",
                    data: [
                        {
                            x: 0,
                            y: 0,
                        },
                        {
                            x: 90,
                            y: {{current_regression}}
                        },
                    ],
                    type: 'line',
                    fill: false,
                    borderColor: '#606000',
                    borderDash: [5, 10]
                },
                {
                    label: "Regression (prior quarter)",
                    data: [
                        {
                            x: 0,
                            y: 0,
                        },
                        {
                            x: 90,
                            y: {{prior_regression}}
                        },
                    ],
                    type: 'line',
                    fill: false,
                    borderColor: '#f000f0',
                    borderDash: [5, 10]
                },
                {
                    label: "Regression +95%",
                    fill: false,
                    showLine: true,
                    data: [
                        {
                            x: 0,
                            y: {{error_percentile}},
                        },
                        {
                            x: 90,
                            y: {{current_regression}} + {{error_percentile}}
                        }
                    ],
                },
                {
                    label: "Regression -95%",
                    fill: '-1',
                    showLine: true,
                    data: [
                        {
                            x: 0,
                            y: -{{error_percentile}},
                        },
                        {
                            x: 90,
                            y: {{current_regression}} - {{error_percentile}}
                        }
                    ]
                }
            ]
        },
        options: {
            plugins: {
                filler: {
                    propagate: false,
                },
                annotation: {
                    annotations: [
                        {
                            type: 'line',
                            yMin: -1000,
                            yMax: 1000,
                            xMin: 55,
                            xMax: 55,
                            borderColor: 'rgb(127, 0, 0)',
                            borderWidth: 2,
                        },  
                    ]
                },         
            },
            scales: {
                x: {
                    type: 'linear',
                    position: 'bottom',
                    title: {
                        text: "Quarter Depth",
                        display: true
                    },
                    suggestedMax: 90.0,
                    suggestedMin: 0.0,
                    ticks: {
                        stepSize: 5.0,
                    }
                },
                y: {
                    type: 'linear',
                    title: {
                        text: "Ratio",
                        display: true
                    },
                    suggestedMax: 25.0,
                    suggestedMin: -25.0,                    
                    ticks: {
                        stepSize: 5.0,
                    }
                }
            },
            legend: {
                display: true,
            }
        }
    });
</script>
{% endblock %}